<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707343161526-bi7o458o7c2estcqn99safofkp80dr7f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707343161526-bi7o458o7c2estcqn99safofkp80dr7f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707343161526-27cie87csmmlg62u077i11m6adogskuv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMqM2WzzThodtW6z-khT7nfy0b4OclPD8</string>
	<key>GCM_SENDER_ID</key>
	<string>707343161526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>chat-app-b74ac</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-b74ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707343161526:ios:0759a96ee6ef3fedfcae17</string>
</dict>
</plist>